body {
    background-image: url('aqi1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

#aqi {
    text-align: center;
    background-color: rgb(224, 200, 200);
    width: 300px;
    border: 2px solid rgb(8, 8, 8);
    padding: 60px;
   margin-left: 500px;
   margin-top: 15%;
   border-radius: 10px;    
}
#btn {
    background-color:rgb(0, 0, 0);
    color: rgb(251, 248, 248);
    padding: 12px ;
    margin-left: 0px;
    margin-top: 10px;
    width: 30%;    
}